body {
    
}

/*Search Bar CSS*/
.form {
    background-color: #e7b0ff;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    padding: 0;
    border-radius: 10px;
    
}

.menuButton {
    margin: auto;
    text-align: center;
    margin-top:5px;
    padding: 10px;
    background-color: #e7b0ff;
    border-radius: 10px;
    width: 10%;
}

.heading {
    text-align: center;
    font-family: 'Bowlby One SC', cursive;
}

.form-row {
    display: flex;
    justify-content: center;
    padding: .5em;
}

.form-row > label {
    padding: .5em 1em .5em 0;
    flex: 1;
  }

.form-row > input {
    flex: 2;
}

.form-row > input,
.form-row > button {
    padding: .5em;
}

.form-row > button {
    background: gray;
    color: white;
    border: 0;
}

/*Events List CSS*/
.container {
    width: 30%;
    height: 150px;
    background-color: pink;
    position: relative;
    margin: 10px auto;
    vertical-align: middle;
    
}


/*Header Style*/

.header {

}

/*Table Style*/
.table {
    width: 100%;
    border-radius: 10px;
    font-size: 20px;
    
}

thead {
    border-bottom: 1px solid #e5e5e5;
}

.table tr td {
    white-space: nowrap;
    padding-right: 75px;
}

.data {
    display: block;
    width: 15%;
    
}

.options {
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


