body {
    background-color: #aaaaaa;
}

/*Search Bar CSS*/
.form {
    background-color: #e7b0ff;
    border: 1px solid #e5aefd;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
    box-shadow: 3px 3px 5px #b780cf;
    /*border-radius: 10px;*/
}

.menuButton {

    margin: auto;
    text-align: center;
    margin-top:5px;
    padding: 10px;
    background-color: #e7b0ff;
    border-radius: 10px;
    width: 10%;

}

.heading {
    text-align: center;
    font-family: 'Bowlby One SC', cursive;
    font-weight: bold;
}

.form-row {
    display: flex;
    justify-content: center;
    padding: .5em;
}

.form-row > label {
    padding: .5em 1em .5em 0;
    flex: 1;
  }

.form-row > input {
    flex: 2;
}

.form-row > input,
.form-row > button {
    padding: .5em;
}

.form-row > button {
    background: gray;
    color: white;
    border: 0;
}

    .form-row > button:hover {
        background: #550;
        color: white;
        border: 0;
    }


