@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body>
    <h1>
        Home page
    </h1>

    <button>
        <a href="https://localhost:44300/account/loginpage">Login</a>
    </button>

</body>
