@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <link href="~/css/homePageStyles.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="slideContainer">
        <slider>
            <slide><p></p></slide>
            <slide><p></p></slide>
            <slide><p></p></slide>
            <slide><p></p></slide>
        </slider>
    </div>

</body>
