@model PartyApplication.Model.Account

@{
    ViewData["Title"] = "LoginPage";
}

<h1>LoginPage</h1>

<form method="POST" action="/account/login">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="passcode">Passcode:</label><br>
        <input type="text" id="passcode" name="passcode">

        <input type="submit" value="Submit"/>
</form>

<a href="/account/createaccount/">Create an account</a>
