
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PartyApp</title>
</head>
<body>
    <section>
        <h1>
            HELLO THIS IS A TEST
        </h1>
    </section>
    <div>
        @RenderBody()
    </div>

    <div>
        <a href="http://localhost:44370/home">Go Home</a>
        <a href="http://localhost:44370/parties">All Events</a>
    </div>
</body>
</html>
