@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link href="~/css/formStyles.css" rel="stylesheet" type="text/css">

    <title>Create an Event</title>
</head>

<body>
    <div class="form">
        <h1 class="heading">Create New Event</h1>
        <hr />
        <form method="POST" action="/newparty">
            <li class="form-row">
                <label for="Event Name">Event Name:</label><br>
                <input type="text" id="name" name="name" /><br>
            </li>
            <li class="form-row">
                <label for="">Location:</label><br>
                <input type="text" id="location" name="location" /><br />
            </li>
            <li class="form-row">
                <label for="Time of Event">Time:</label><br>
                <input type="text" id="time" name="time" /><br />
            </li>
            <li class="form-row">
                <label for="zipcode">Zipcode:</label><br>
                <input type="text" id="zipcode" name="zipcode" /><br />
            </li>

            <li class="form-row">
                <input type="hidden" id="hostusername" name="hostusername" value=@Html.DisplayFor(user => Context.User.Identity.Name) readonly/><br />
            </li>

            <li class="form-row">
                <button type="Submit">Create Event</button>
            </li>
        </form>

    </div>
    <div class="menuButton backToEvents">
        @Html.ActionLink("Go back to Event Search", "Events", "Event")
    </div>
</body>
</html>


