@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Create an Event</title>
</head>

<body>
    <h1>Create New Event</h1>
    <form method="POST" action="tbd">
        <label for="Event Name">Event Name:</label><br>
        <input type="text" id="eventname" name="eventname" /><br>

        <label for="">Location:</label><br>
        <input type="text" id="location" name="locationofevent" /><br />

        <label for="Time of Event">Time:</label><br>
        <input type="text" id="time" name="timeofevent" /><br />

        <label for="zipcode">Zipcode:</label><br>
        <input type="text" id="zipcode" name="zipcode" /><br />

        <input type="hidden" id="followers" name="followers" value="0" />
        <input type="hidden" id="following" name="following" value="0" />

        <input type="submit" value="Create Event" />
    </form>
</body>
</html>


