@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <link href="~/css/formStyles.css" rel="stylesheet" type="text/css">
</head>

<h1 class="heading">Discover an Event!!</h1>

<div class="form">
    <form method="post" action="parties">

        <li class="form-row">
            <label for="zipcode">Search By Zipcode:</label><br />
            <input type="text" id="zipcode" name="zipcode" /><br />
        </li>
        <li class="form-row">
            <button type="Submit">Submit</button>
        </li>
    </form>
</div>

@if (User.IsInRole("Host"))
{
    <div class="menuButton">
        @Html.ActionLink("Make A New Event!", "CreateEvent", "Event")
    </div>
}


