@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Ticket Submitted";
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>SocialSquare</title>
    <link href="~/css/partyApplicationStyles.css" rel="stylesheet" type="text/css">
    <link href="~/css/formStyles.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
</head>

<div class="form">

    <h1 class="heading"> Submit a Support Ticket</h1>

    <h2 class="heading"> Ticket Submitted Successfully</h2>

</div>
